.teko-title {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  /* font-size: 6rem; */
  text-transform: uppercase;
}

/* @media (max-width: 1170px) {
  .teko-title {
    font-size: 5rem;
  }
} */
